@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Heebo";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/heebocyrillic.ttf");
}
.wrapper {
    margin: 0 auto;
    width: 100%;
}
.main_container {
    width: 90%;
    height: 100%;
}
.content_block{
    margin: 20px auto;
    display: flex;
    flex-direction: column;

}
.main__block {
    margin:0 auto;
    padding-top: 100px;
    height: 100%;
    padding-bottom: 100px;
}
.news{
    background-color: #6C584F;
    height: 5541px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.card_content_news {
    width: 1336px;
    height: 392px;
    display: flex;
    flex-direction: row;
    background-color: #6C584F;
    border: 0px;
    align-items: center;
    gap: 50px;
}
.cars_intelligence{
    height: 100%;
}
.img_news{
    width: 382px;
    height: 382px;
    border-radius: 30px;

}

.itemttile, .itemtitlebefore{
    color: #FFF;
    text-align: justify;
    font-family: "Heebo", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.1%; /* 45.792px */
}
.itemtext{
    color: #F9F9F9;
    font-family: "Heebo", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text_news,.main_contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card_content_medical{
    display: flex;
    flex-direction: column-reverse;
}
.main_intelligence,.intelligence, .main_contacts,.contacts{
    background-color: #363B39;
}
.contacts{
    width: 1293px;
}

.intelligence,.organization,.spiritual, .social, .education, .help, .schedule,.thank, .medical, .contacts{
    width: 1223px;
    gap: 20px;
}

.text_intelligence, .text_organization, .text_spiritual, .text_social, .text_help, .text_medical{
    font-size: 32px;
    text-align: justify;
}
.itemtitlebefore{
    font-size: 40px;
}

.main_organization,.organization,.main_spiritual,.spiritual,.spiritual, .main_service,.service,.main_medical,.medical,.social,.main_social, .education,.main_education,.help, .main_help, .schedule, .main_schedule,.thank,.main_thank{
    background-color: #6C584F;
}
.main_intelligence,.main_organization, .main_service, .main_education, .main_thank,.main_contacts,.main_schedule,.main_help{
    height: 950px;
}
.main_organization{
    padding-bottom: 600px;
}
.spiritual{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.carousel_spiritual {
    margin: 0 auto;
}
.title_block_social, .title_block_education, .title_block_help{
    padding-bottom: 60px;
}
.siderImg_spiritual{
    width: 979px;
    height: 558px;
}
.slideImg_thank, .carousel_thank,.thank{
    height: 600px;
    width: 424px;
}

.text_service{
    width: 612px;
}
.card_content_service{
    flex-direction: row;
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 70px auto;
}
.card_content_medical{
    flex-direction: column-reverse;
}
.images_medical{
    width: 1240px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-bottom: 60px;
}
.images_contacts{
    width: 500px;
    height: 300px;
    align-self: flex-end;
    margin-top: -250px;
}
.card_content_contacts{
    width: 580px;

}
/*.content_block_beforee{*/
/*    display: none;*/
/*}*/